name: CI Workflow
on: [push, pull_request]

jobs:
  docker:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest]  
    name: docker
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          docker build -t psampaz/go-mod-outdated .
          go list -u -m -json all | docker run --rm -i  psampaz/go-mod-outdated             
  tests:
    strategy:
      matrix:
        go-version: [1.11.x, 1.12.x, 1.13.x]
        platform: [ubuntu-latest, macos-latest]  
    name: tests
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          go get github.com/mfridman/tparse
          go test -v -race -cover -json ./... | $(go env GOPATH)/bin/tparse -all
      - run: |        
          go install
          mkdir hugo 
          cp internal/runner/testdata/hugo_0_53_go.mod hugo/go.mod
          cd hugo
          go list -u -m -json all | $(go env GOPATH)/bin/go-mod-outdated    
  coverage:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest]  
    name: coverage
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          go test -v -race -cover -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage to Codecov  
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella 
